<tmpl_ex name="amazon_disp">
	##-------------------------------------------
	my $amazon_id= 'bomcity4-22';
	##-------------------------------------------
	$_[1]->{_amazon_afid}= $amazon_id;
	[
	 { asin=> '4873111676', topic=> 'Perlオブジェクト、リファレンス、モジュール' },
	 { asin=> '4894713004', topic=> 'オブジェクト指向Perlマスターコース―オブジェクト指向の概念とPerlによる実装方法' },
	 { asin=> '0596002254', topic=> 'Mason' },
	 { asin=> '4774122343', topic=> ' 最強フレームワークApache StrutsパーフェクトガイドVer.1.2―Webアプリ構築の定番...' },
	 { asin=> '4798009571', topic=> 'Apache Struts逆引き大全345の極意' },
	 { asin=> '0672322404', topic=> q{Mod_Perl Developer's Cookbook (Developer's Library)} },
	 { asin=> '0596000472', topic=> q{Mod-Perl Pocket Reference (Pocket Reference (O'Reilly))} },
	 { asin=> '4774117994', topic=> 'Apacheモジュール プログラミングガイド Advanced Server‐side programmingシリーズ' },
	 { asin=> '4881356682', topic=> 'Perlモジュール活用ガイド―かんたんオブジェクト指向プログラミング' },
	 { asin=> '4871938603', topic=> 'はじめてのPerlモジュール―厳選実用モジュール集' },
	 { asin=> '4886487211', topic=> 'Perlプログラミング中毒!―実用&趣味的Perlモジュール・リファレンス' },
	 { asin=> '483991771X', topic=> 'Movable Typeブログテンプレート&デザインガイド―マルチユースなテンプレートによる効率的なブログ制作' },
	 { asin=> '4774116769', topic=> 'CGI&Perl究極のレシピ350―とほほが教える' },
	 { asin=> '4798010774', topic=> 'Perl/CGI逆引き大全600の極意' },
	 { asin=> '4873110440', topic=> 'CGIプログラミング' },
	 { asin=> '4844317423', topic=> '達人に学ぶPerl/CGI道場' },
	 { asin=> '4797316349', topic=> '実践Perl DBI―CGIによるWebデータベースの制御と応用' },
	 { asin=> '4873111749', topic=> 'Blog Hacks ―プロが教えるテクニック&ツール100選' },
	 { asin=> '4873111870', topic=> 'Spidering hacks―ウェブ情報ラクラク取得テクニック101選' },
	 { asin=> '4873111366', topic=> 'Google Hacks―プロが使うテクニック&ツール100選' },
	 { asin=> '4873111811', topic=> 'Amazon Hacks 世界最大のショッピングサイト完全活用テクニック100選' },
	 { asin=> '4839915954', topic=> 'Movable Typeスタイル&コンテンツデザインガイド―コンテンツ管理システム(CMS)ツールとしてのMovable Type活用術&実践サイトデザイン術' },
	 { asin=> '4894714779', topic=> 'Webコンテンツマネジメントシステム入門―共同作業としてのWebサイトの構築と運営' },
	 { asin=> '0596001738', topic=> 'Perl Best Practices' },
	 { asin=> '0596000278', topic=> 'Programming Perl' },
	 { asin=> '0596002254', topic=> 'Embedding Perl in Html With Mason' },
	 { asin=> '0596004567', topic=> 'Advanced Perl Programming' },
	 { asin=> '0596004761', topic=> 'Perl Template Toolkit' },
	 { asin=> '0596001789', topic=> 'Perl and Lwp' },
	 { asin=> '0596002068', topic=> 'Programming Web Services With Perl' },
	 { asin=> '1884777791', topic=> 'Object Oriented Perl' },
	 { asin=> '0596004788', topic=> 'Learning Perl Objects, References and Modules' },
	 { asin=> '1565926994', topic=> 'Programming the Perl Dbi' },
	 { asin=> '4873110505', topic=> '入門Perl DBI' },
	 { asin=> '479732306X', topic=> 'Linux + Oracle 9iで作るWeb DB Perl DBI編' },
	 ];
</tmpl_ex>
