<tmpl_loop name=amazon_disp>
 <a href="http://www.amazon.co.jp/exec/obidos/ASIN/<tmpl_var name=asin>/<tmpl_var name=_amazon_afid>/ref=nosim" target="_blank">
 <div style="text-align:center;"><img src="http://images-jp.amazon.com/images/P/<tmpl_var name=asin>.09._PE_SCMZZZZZZZ_.jpg" width="100"></div>
 <div style="padding-left:5; width:120; font-size:12px; word-break:break-all;"><tmpl_var name=topic></div>
 </a>
</tmpl_loop>
