<tmpl_ex hidden="1">
$_[0]->{banner}{hearf}= [
 '<iframe src="http://exbase.luuu.net/banner/b20.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b1.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b2.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b3.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b4.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b5.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b6.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b7.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b8.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b9.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b10.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b11.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b12.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b13.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b14.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b15.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b16.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b17.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b18.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 '<iframe src="http://exbase.luuu.net/banner/b19.html" width="468" height="60" scrolling="no" border="0" frameborder="0" style="border:none;"></iframe>',
 ];
"";
</tmpl_ex>
