<meta http-equiv="Content-Language" content="ja" />
<meta http-equiv="Content-Type"  content="text/html; charset=euc-jp" />
<title><tmpl_var name=page_title></title>
<link rel="stylesheet" type="text/css" href="<tmpl_var name=siteRoot>exbase.css" />
