<a name="pagetop"></a>
<tmpl_include name=amazon-perl.tmpl>
<tmpl_include name=AmazonSelect.code>
<a href="<tmpl_var name=baseRoot>" style="margin:0; float:left;">
<img src="<tmpl_var name=siteRoot>img/ex-site.jpg" alt="To the Front page." /></a>
<tmpl_if name=is_index_page><h1 class="pageHeader">HTML::Template::Ex</h1>
<tmpl_else><div class="pageHeader">HTML::Template::Ex</div>
</tmpl_if>
