<tmpl_unless name=is_front_page>
 <a href="<tmpl_var name=baseRoot>" class="toHome">To Front page.</a>
</tmpl_unless>
<div class="scriptVersion">
<a href="<tmpl_var name=supportURL>" target="_blank"><tmpl_var name=scriptVersion></a>
</div>
